.footer {
    background: var(--cor-azul-footer);
}

.icon-color-red{
    color: var(--cor-vermelho-claro);
    font-size: 2rem;
}

.text-icon{
    color: var(--cor-vermelho-claro);
}
.conteudo-nav{
    max-width: 1300px!important;
    width: 100%;
}
.card-icons-header{
    padding-left: 2rem;
}

@media only screen and (max-width: 600px){

    .icon-red {
        padding-left: 0rem;
    }
}