<footer class="footer pt-5">
    <div class="container">
        <div class="row pb-2">
            <div class="widget pb-2 mb-4" fxLayout="flex wrap" fxLayoutAlign="center">
                <div class="widget pb-2" fxFlex="33" fxFlex.sm="50%" fxFlex.xs="100%">
                    <h3 class="widget-title text-light">Shop Departamentos</h3>
                    <div class="widget-list">
                        <div class="widget-list-item">
                            <a class="widget-list-link opacity-75" routerLink="#">Áudio</a>
                        </div>
                        <div class="widget-list-item">
                            <a class="widget-list-link opacity-75" routerLink="#">Accessories</a>
                        </div>
                        <div class="widget-list-item">
                            <a class="widget-list-link opacity-75" routerLink="#">Cadeiras</a>
                        </div>
                        <div class="widget-list-item">
                            <a class="widget-list-link opacity-75" routerLink="#">Conectividade</a>
                        </div>
                        <div class="widget-list-item">
                            <a class="widget-list-link opacity-75" routerLink="#">Câmeras&amp;Digitais</a>
                        </div>
                        <div class="widget-list-item">
                            <a class="widget-list-link opacity-75" routerLink="#">Games</a>
                        </div>
                        <div class="widget-list-item">
                            <a class="widget-list-link opacity-75" routerLink="#">Hardware</a>
                        </div>
                        <div class="widget-list-item">
                            <a class="widget-list-link opacity-75" routerLink="#">Serviços Digitais</a>
                        </div>
                        <div class="widget-list-item">
                            <a class="widget-list-link opacity-75" routerLink="#">Sunglasses&amp;Eyewear</a>
                        </div>
                        <div class="widget-list-item">
                            <a class="widget-list-link opacity-75" routerLink="#">Telefonia Fixa</a>
                        </div>
                        <div class="widget-list-item">
                            <a class="widget-list-link opacity-75" routerLink="#">Tablets,iPadse&amp;E-readers</a>
                        </div>
                        <div class="widget-list-item">
                            <a class="widget-list-link opacity-75" routerLink="#">Relógios</a>
                        </div>
                    </div>
                </div>
                <div class="widget pb-2" fxFlex="33" fxFlex.sm="50%" fxFlex.xs="100%">
                    <div class="widget pb-2 mb-4">
                        <h3 class="widget-title text-light">Conta &amp; Informação de Envio</h3>
                        <div class="widget-list">
                            <div class="widget-list-item">
                                <a class="widget-list-link opacity-75" routerLink="#">Sua conta</a>
                            </div>
                            <div class="widget-list-item">
                                <a class="widget-list-link opacity-75" routerLink="#">Taxas de envio&amp;policies</a>
                            </div>
                            <div class="widget-list-item">
                                <a class="widget-list-link opacity-75" routerLink="#">Reembolsos&amp;substitutos</a>
                            </div>
                            <div class="widget-list-item">
                                <a class="widget-list-link opacity-75" routerLink="#">Acompanhamento de pedidos</a>
                            </div>
                            <div class="widget-list-item">
                                <a class="widget-list-link opacity-75" routerLink="#">Informações de entrega</a>
                            </div>
                            <div class="widget-list-item">
                                <a class="widget-list-link opacity-75" routerLink="#">Impostos</a>
                            </div>
                        </div>
                    </div>
                    <div class="widget  pb-2 mb-4">
                        <h3 class="widget-title text-light">Sobre nós</h3>
                        <div class="widget-list">
                            <div class="widget-list-item">
                                <a class="widget-list-link text-light opacity-75" routerLink="#">Sobre companhia</a>
                            </div>
                            <div class="widget-list-item">
                                <a class="widget-list-link opacity-75" routerLink="#">Nosso time</a>
                            </div>
                            <div class="widget-list-item">
                                <a class="widget-list-link opacity-75" routerLink="#">Carreiras</a>
                            </div>
                            <div class="widget-list-item">
                                <a class="widget-list-link opacity-75" routerLink="#">Notícia</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget pb-2" fxFlex="33" fxFlex.sm="100%" fxFlex.xs="100%">
                    <div class="widget pb-2 mb-4">
                        <h3 class="widget-title text-light pb-1">Mantenha-se informado</h3>
                        <form class="subscription-form validate" method="post" name="subscribe" target="_blank">
                            <div class="input-group flex-nowrap">
                                <input class="form-control rounded-start" type="email" name="EMAIL" placeholder="EMAIL">
                                <button class="btn btn-danger" type="submit" name="subscribe">envier</button>
                            </div>
                            <div class="form-text text-light opacity-75">
                                *Assine nossa newsletter para receber ofertas de desconto antecipadas, atualizações
                                e informações sobre novos produtos. </div>
                            <div class="subscription-status"></div>
                        </form>
                    </div>
                    <div class="widget pb-2 mb-4">
                        <h3 class="widget-title text-light pb-1">Baixe nosso aplicativo</h3>
                        <div class="aplicativo-list">
                            <div class="me-2 mb-2">
                                <a class="btn" routerLink="#" role="button">
                                    <img class="w-50" src="assets/imagens/disponivel-na-app-store-botao.png"
                                        alt="store">
                                </a>
                            </div>
                            <div class="mb-2">
                                <a class="btn" routerLink="#" role="button">
                                    <img class="w-50" src="assets/imagens/disponivel-na-app-store-botao.png" alt="app">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="whaper">
                    <div fxLayout="flex wrap" fxLayoutAlign="space-between none" class="pb-3">
                        <div fxFlex="25" fxFlex.sm="50%" fxFlex.xs="100%" class="icon-footer__content">
                            <img src="assets/imagens/truck.svg" alt="truck">
                            <div class="ps-3">
                                <h6 class="text-light mb-1">Entrega rápida e gratuita</h6>
                                <p class="mb-0 text-light opacity-75">Entrega grátis para pedidos acima de
                                    R$200
                                </p>
                            </div>
                        </div>
                        <div fxFlex="25" fxFlex.sm="50%" fxFlex.xs="100%" class="icon-footer__content">
                            <img src="assets/imagens/money.svg" alt="truck">
                            <div class="ps-3">
                                <h6 class="text-light mb-1">Garantia de devolução de dinheiro</h6>
                                <p class="mb-0 text-light opacity-75">Devolvemos o dinheiro em até 30 dias
                                </p>
                            </div>
                        </div>
                        <div fxFlex="25" fxFlex.sm="50%" fxFlex.xs="100%" class="icon-footer__content">
                            <img src="assets/imagens/telephone-inbound.svg" alt="Telefonia">
                            <div class="ps-3">
                                <h6 class="text-light mb-1">Suporte ao cliente 24 horas por dia.</h6>
                                <p class="mb-0 text-light opacity-75">Suporte ao cliente24 horas por dia,
                                    7 dias por semana
                                </p>
                            </div>
                        </div>
                        <div fxFlex="25" fxFlex.sm="50%" fxFlex.xs="100%" class="icon-footer__content">
                            <img src="assets/imagens/shield-lock.svg" alt="shield-lock">
                            <div class="ps-3">
                                <h6 class="text-light mb-1">Pagamento online seguro</h6>
                                <p class="mb-0 text-light opacity-75">We possess SSL / Secure сertificate
                                </p>
                            </div>
                        </div>
                    </div>

                    <hr class="text-danger">

                    <div class="row pb-2">
                        <div class="col-md-6 text-center text-md-start mb-4">

                            <div class="widget widget-links widget-light">
                                <ul
                                    class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Pontos de
                                            venda</a>
                                    </li>
                                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Afiliados</a>
                                    </li>
                                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Apoiar</a>
                                    </li>
                                    <li class="widget-list-item me-4"><a class="widget-list-link"
                                            href="#">Privacidade</a>
                                    </li>
                                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Termos de
                                            uso</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 text-center text-md-end mb-4 rede-social-link">
                            <div class="mb-3 whapper-icon text-center">
                                <a class="ms-2 mb-2"  routerLink="#">
                                    <img src="assets/imagens/twitter.svg" alt="twitter">
                                </a>
                                <a class="ms-2 mb-2" routerLink="#">
                                    <img src="assets/imagens/facebook.svg" alt="facebook">
                                </a>
                                <a class="ms-2 mb-2" routerLink="#">
                                    <img src="assets/imagens/instagram.svg" alt="instagram">
                                </a>
                                <a class="ms-2 mb-2" routerLink="#">
                                    <img src="assets/imagens/pinterest.svg" alt="pinterest">
                                </a>
                                <a class="ms-2 mb-2" routerLink="#">
                                    <img src="assets/imagens/youtube.svg" alt="youtube">
                                </a>
                                <a class="ms-2 mb-2" routerLink="#">
                                    <img src="assets/imagens/whatsapp.svg" alt="whatsapp">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="Copyright" fxLayout.gt-sm="row" fxLayoutAlign="start center"
                        fxLayoutAlign.gt-sm="center start">
                        <a routerLink="#" class="opacity-75">
                            Todos os direitos reservados.Feito por Mjpfelicia
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>