<div class="container pt-5 container pb-4 pb-md-5">
    <div class="row">
        <!-- Mais vendidos-->
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="widget">
                <h3 class="widget-title mb-4 color-title">Mais vendidos...</h3>
                <div class="vendidos">
                    <a class="link-imagens" routerLink="#">
                        <img src="assets/imagens/maouse.webp" width="64" alt="Product"></a>
                    <div class="ps-2 pt-1" fxFlex>
                        <h6 class="widget-product-title">
                            <a routerLink="#">MOUSE GAMER TRUST GXT 900.</a>
                        </h6>
                        <div class="widget-product-meta  mb-2">
                            <span class="text-accent">R$259.<small>00</small>
                            </span>
                        </div>
                        <i class="bi bi-cart4 icon-color-red"></i>
                    </div>
                </div>
                <div class="vendidos">
                    <a class="link-imagens" routerLink="#">
                        <img src="assets/imagens/teclado.jpg" width="64" alt="Product"></a>
                    <div class="ps-2 pt-1" fxFlex>
                        <h6 class="widget-product-title"><a routerLink="#">TECLADO MECÂNICO LOGITECH.</a>
                        </h6>
                        <div class="widget-product-meta  mb-2">
                            <span class="text-accent">R$1.149.<small>00</small></span>
                        </div>
                        <i class="bi bi-cart4 icon-color-red"></i>
                    </div>
                </div>
                <div class="vendidos">
                    <a class="link-imagens" routerLink="#">
                        <img src="assets/imagens/tvPequena.jpg" width="64" alt="Product"></a>
                    <div class="ps-2 pt-1" fxFlex>
                        <h6 class="widget-product-title">
                            <a routerLink="#">Android Smart TV Box</a>
                        </h6>
                        <div class="widget-product-meta mb-2">
                            <span class="text-accent">R$67.<small>00</small></span>
                        </div>
                        <i class="bi bi-cart4 icon-color-red"></i>
                    </div>
                </div>

                <div class="vendidos">
                    <a class="link-imagens" routerLink="#">
                        <img src="assets/imagens/controle-sem-fio-xbox-shock-blue_1628780812_m.jpg" width="64"
                            alt="Product">
                    </a>
                    <div class="ps-2 pt-1" fxFlex>
                        <h6 class="widget-product-title">
                            <a routerLink="#">Controle Sem Fio Xbox Shock.</a>
                        </h6>
                        <div class="widget-product-meta mb-2">
                            <span class="text-accent">R$449.<small>00</small></span>
                        </div>
                        <i class="bi bi-cart4 icon-color-red"></i>
                    </div>
                </div>
            </div>
            <p class="pt-1">...</p>
            <a class="fs-sm link-vejamais" routerLink="#">Veja mais
                <i class="bi bi-chevron-compact-right"></i> </a>
        </div>
        <!-- Novas chegadas-->
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="widget">
                <h3 class="widget-title mb-4 color-title">Novas chegadas...</h3>
                <div class="chegadas">
                    <a class="link-imagens" routerLink="#">
                        <img src="assets/imagens/Mini-Teclado-Sem-Fio.jpg" width="64" alt="Product"></a>
                    <div class="ps-2 pt-1" fxFlex>
                        <h6 class="widget-product-title">
                            <a routerLink="#">Mini Teclado Sem Fio 3 Cores Led.</a>
                        </h6>
                        <div class="widget-product-meta mb-2">
                            <span class="text-accent">R$259.<small>00</small></span>
                        </div>
                        <i class="bi bi-cart4 icon-color-red"></i>
                    </div>
                </div>
                <div class="chegadas">
                    <a class="link-imagens" routerLink="#">
                        <img src="assets/imagens/volante-thrustmaster.jpg" width="64" alt="Product"></a>
                    <div class="ps-2 pt-1" fxFlex>
                        <h6 class="widget-product-title">
                            <a routerLink="#">Volante Thrustmaster TM Open Wheel.</a>
                        </h6>
                        <div class="widget-product-meta mb-2">
                            <span class="text-accent">R$1.234,<small>91</small></span>
                        </div>
                        <i class="bi bi-cart4 icon-color-red"></i>
                    </div>
                </div>
                <div class="chegadas">
                    <a class="link-imagens" routerLink="#">
                        <img src="assets/imagens/tablet-multilaser-peppa-pig.jpg" width="64" alt="Product"></a>
                    <div class="ps-2 pt-1" fxFlex>
                        <h6 class="widget-product-title">
                            <a routerLink="#">Tablet Multilaser Peppa Pig Tela 7, Bluetooth.</a>
                        </h6>
                        <div class="widget-product-meta mb-2">
                            <span class="text-accent">R$429,<small>97</small></span>
                        </div>
                        <i class="bi bi-cart4 icon-color-red"></i>
                    </div>
                </div>
                <div class="chegadas">
                    <a class="link-imagens" routerLink="#">
                        <img src="assets/imagens/webcam-hikvision.jpg" width="64" alt="Product">
                    </a>
                    <div class="ps-2 pt-1" fxFlex>
                        <h6  class="widget-product-title">
                            <a routerLink="#">Webcam Hikvision Full HD Lentes Fixas</a>
                        </h6>
                        <div class="widget-product-meta mb-2">
                            <span class="text-accent">R$201.<small>99</small></span>
                        </div>
                        <i class="bi bi-cart4 icon-color-red"></i>
                    </div>
                </div>
                <p class="pt-1">...</p>
                <a class="link-vejamais" routerLink="#">Veja mais
                    <i class="bi bi-chevron-compact-right"></i> </a>
            </div>
        </div>
        <!-- Mais Visitados -->
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="widget">
                <h3  class="widget-title mb-4 color-title">Mais Visitados...</h3>
                <div class="Visitados">
                    <a class="link-imagens" routerLink="#">
                        <img src="assets/imagens/t-flight-hotas-4.jpg" width="64" alt="Product"></a>
                    <div class="ps-2 pt-1" fxFlex>
                        <h6 class="widget-product-title">
                            <a href="#">Gamepad sem fio Pro Controller</a>
                        </h6>
                        <div class="widget-product-meta mb-2">
                            <span class="text-accent">R$259.<small>99</small></span>
                        </div>
                        <i class="bi bi-cart4 icon-color-red"></i>
                    </div>
                </div>
                <div class="Visitados">
                    <a class="link-imagens" routerLink="#">
                        <img src="assets/imagens/caixa-de-som.jpg" width="64" alt="Product"></a>
                    <div class="ps-2 pt-1" fxFlex>
                        <h6  class="widget-product-title">
                            <a routerLink="#">Caixa de Som Portátil Essential.</a>
                        </h6>
                        <div class="widget-product-meta mb-2">
                            <span class="text-accent">R$169.<small>60</small></span>
                        </div>
                        <i class="bi bi-cart4 icon-color-red"></i>
                    </div>
                </div>
                <div class="Visitados">
                    <a class="link-imagens" routerLink="#">
                        <img src="assets/imagens/Kit-Teclado-E-Mouse-Gamer.jpg" width="64" alt="Product">
                    </a>
                    <div class="ps-2 pt-1" fxFlex>
                        <h6  class="widget-product-title">
                            <a routerLink="#">Kit Teclado E Mouse Gamer Multilaser.</a>
                        </h6>
                        <div class="widget-product-meta mb-2">
                            <span class="text-accent">R$241.<small>75</small></span>
                        </div>
                        <i class="bi bi-cart4 icon-color-red"></i>
                    </div>
                </div>
                <div class="Visitados">
                    <a class="link-imagens" routerLink="#">
                        <img src="assets/imagens/tvPequena.jpg" width="64" alt="Product">
                    </a>
                    <div class="ps-2 pt-1" fxFlex>
                        <h6  class="widget-product-title">
                            <a routerLink="#">Monitor Brazil PC 19 HD LED.</a>
                        </h6>
                        <div class="widget-product-meta">
                            <span class="text-accent">R$559.<small>00</small></span>
                        </div>
                        <i class="bi bi-cart4 icon-color-red"></i>
                    </div>
                </div>
                <p class="pt-1">...</p>
                <a class="link-vejamais" routerLink="#">Veja mais
                    <i class="bi bi-chevron-compact-right"></i> </a>
            </div>
        </div>
    </div>
</div>