a {
    list-style: none;
    text-decoration: none;
}

.conteudo-vendas {
    background-color: var(--cor-branco);
}

.title-oportunidade {
    padding: 3rem;
}

.wapper-produtos {
    padding: 1rem;
    text-align: center;
}

.card {
    background: var(--cor-card);
    border: 1px solid var(--cor-azul-acinzentado-claro);

}

.title-oportunidade {
    color: var(--cor-cinzento-title);
    font-weight: 600;
    opacity: 0.9;
    padding: 1rem;
    font-size: calc(1.325rem + .9vw);
}

.title-vejamais {

    color: var(--cor-vermelho-claro);
}

.whapper__container {
    background-color: var(--cor-azul-acinzentado-claro); 
       margin: 0 4rem;
       padding: 4rem 2rem ;
}

.container-produtos img {
    width: 50%;
    align-self: center;
}

@media only screen and (max-width: 600px) {
    .container-produtos {
        margin: 0;
        padding: 1rem;

    }

    .aplicativo-list {
        text-align: center;
    }
}