<div class="">
    <div fxLayout="row" fxLayoutAlign="space-around center" class="title-oportunidade">
        <h2 class="title-oportunidade text-produtos">OPORTUNIDADES DA SEMANA</h2>
        <div fxLayoutAlign="center" class="title-vejamais">
            <a href="#" class="text-danger link-vejamais">veja mais
            </a>
            <mat-icon>chevron_right</mat-icon>
        </div>
    </div>
    <div class="whapper__container">
        <div class="container">
            <div class="" fxLayout="flex wrap" fxLayoutAlign="space-between none">
                <div fxFlex="25" fxFlex.sm="50%" fxFlex.xs="100%" *ngFor="let produto of produtos;"
                    class="card card-container px-2">
                    <app-card [produto]="produto"></app-card>
                </div>
            </div>
        </div>
    </div>
</div>