<section class="section-lancamento">
    <div class="col-12 d-flex justify-content-center conteudo-titulo">
        <h2 class="title-oportunidade title-lancamento p-4 fs-base">LANÇAMENTOS</h2>
    </div>
    <div class="box-carrosel">
        <div class=" container">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner container">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="assets/imagens/computador.png" class="d-block img-lancamneto w-100" alt="Product">
                        <div class="carousel-caption carousel-lancamento d-md-block text-center">
                            <h1 class="title-produto-lancamento fs-base">Viajantes da imaginação são raridade
                            </h1>
                            <a href="#" class="stretched-link  link-lancamento">Com preço imperdível. Se
                                apresse!!
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="assets/imagens/headphoneslancamneto.jpg" class="d-block img-lancamneto w-100"
                            alt="...">
                        <div class=" carousel-caption carousel-lancamento  d-md-block text-center">
                            <h1 class="title-produto-lancamento fs-base">Óculos 3D Realidade Virtual Com
                                Headphone
                                Warrior</h1>
                            <a href="#" class="stretched-link  link-lancamento">Com preço imperdível. Se
                                apresse!!
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/imagens/tab-game-pad-lancamneto.jpg" class="d-block img-lancamneto w-100"
                            alt="...">
                        <div class="carousel-caption carousel-lancamento d-md-block text-center">
                            <h1 class="title-produto-lancamento fs-base">Controle Game Tablet Celular Android
                                Ios</h1>
                            <a href="#" class="stretched-link  link-lancamento">Com preço imperdível. Se
                                apresse!!
                            </a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>