<section class="section-estoque">
    <div class="row">
        <div class="col-12 d-flex justify-content-lg-around align-items-center">
            <h2 class="title-oportunidade text-produtos p-4 fs-base">OS QUERIDINHOS DO MOMENTO
            </h2>
            <a href="#" class="text-danger link-vejamais">veja mais
                <i class="bi bi-chevron-compact-right"></i> </a>
        </div>
    </div>
    <div class="container conteudo-vendas">
        <div class="d-flex flex-wrap m-auto">
            <div class="card-container px-2 mb-5 col-12 col-sm-6 col-md-3">
                <div class="card mb-3 card-box pt-3">
                    <img src="assets/imagens/tvPequena.jpg" class="card-img-top" alt="TV">
                    <div class="card-body card-vendas p-3  text-center">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="MONITOR TGT MG24, 24 POL.LED FHD, 3MS,60HZ, HDMI/VGA.">
                            MONITOR TGT MG24, 24 POL.LED FHD, 3MS, 60HZ, HDMI/VGA.
                        </h5>
                        <p class="preco-Avista">à vista</p>
                        <div class="preco-oferta">R$849,90</div>
                        <span class="preco-Avista">no PIX com 12% desconto</span>
                        <div class="card-parcelamento pb-4">
                            <div class="preco-atual text-danger">R$&nbsp;965,80</div>
                            <span class="preco-parcelamento">em até 12x de
                                <span class="preco-atual text-danger">R$80,48</span>
                            </span>
                            <div class="parcela-cartao">sem juros no cartão</div>
                        </div>
                        <a href="#" class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="card-container px-2  mb-5 col-12 col-sm-6 col-md-3">
                <div class="card mb-3 card-box pt-3">
                    <img src="assets/imagens/foneRosa.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-vendas p-3  text-center">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="HEADSET GAMER REDRAGON, RGB, DRIVERS 50MM,ROSA.">
                            HEADSET GAMER REDRAGON, RGB, DRIVERS 50MM,ROSA.
                        </h5>
                        <p class="preco-Avista">à vista</p>
                        <div class="preco-oferta">R$849,90</div>
                        <span class="preco-Avista">no PIX com 12% desconto</span>
                        <div class="card-parcelamento pb-4">
                            <div class="preco-atual text-danger">R$&nbsp;965,80</div>
                            <span class="preco-parcelamento">em até 12x de
                                <span class="preco-atual text-danger">R$80,48</span>
                            </span>
                            <div class="parcela-cartao">sem juros no cartão</div>
                        </div>
                        <a href="#" class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="card-container px-2 mb-5 col-12 col-sm-6 col-md-3">
                <div class="card mb-3 card-box pt-3">
                    <img src="assets/imagens/cadeira-gamer.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-vendas p-3  text-center">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="CADEIRA GAMER PRETA E AZUL PG-TAU-RED01">
                            CADEIRA GAMER PRETA E AZUL PG-TAU-RED01
                        </h5>
                        <p class="preco-Avista">à vista</p>
                        <div class="preco-oferta">R$1.249,90</div>
                        <span class="preco-Avista">no PIX com 12% desconto</span>
                        <div class="card-parcelamento pb-4">
                            <div class="preco-atual text-danger">R$&nbsp;2.272,61</div>
                            <span class="preco-parcelamento">em até 12x de
                                <span class="preco-atual text-danger">R$118,36</span>
                            </span>
                            <div class="parcela-cartao">sem juros no cartão</div>
                        </div>
                        <a href="#" class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="card-container px-2 mb-5 col-12 col-sm-6 col-md-3">
                <div class="card mb-3 card-box pt-3">
                    <img src="assets/imagens/code.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-vendas p-3 text-center">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="PROCESSADOR INTEL CORE I9-12900, 16-CORE.">
                            PROCESSADOR INTEL CORE I9-12900, 16-CORE.
                        </h5>
                        <p class="preco-Avista">à vista</p>
                        <div class="preco-oferta">R$3.599,90</div>
                        <span class="preco-Avista">no PIX com 12% desconto</span>
                        <div class="card-parcelamento pb-4">
                            <div class="preco-atual text-danger">R$&nbsp;4.090,80</div>
                            <span class="preco-parcelamento">em até 12x de
                                <span class="preco-atual text-danger">R$340,90</span>
                            </span>
                            <div class="parcela-cartao">sem juros no cartão</div>
                        </div>
                        <a href="#" class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="card-container px-2 mb-5 col-12 col-sm-6 col-md-3">
                <div class="card mb-3 card-box pt-3">
                    <img src="assets/imagens/code.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-vendas p-3  text-center">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="PROCESSADOR INTEL CORE I9-12900, 16-CORE.">
                            PROCESSADOR INTEL CORE I9-12900, 16-CORE.
                        </h5>
                        <p class="preco-Avista">à vista</p>
                        <div class="preco-oferta">R$3.599,90</div>
                        <span class="preco-Avista">no PIX com 12% desconto</span>
                        <div class="card-parcelamento pb-4">
                            <div class="preco-atual text-danger">R$&nbsp;4.090,80</div>
                            <span class="preco-parcelamento">em até 12x de
                                <span class="preco-atual text-danger">R$340,90</span>
                            </span>
                            <div class="parcela-cartao">sem juros no cartão</div>
                        </div>
                        <a href="#" class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="card-container px-2 mb-5 col-12 col-sm-6 col-md-3">
                <div class="card mb-3 card-box pt-3">
                    <img src="assets/imagens/cadeira-gamer.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-vendas p-3 text-center">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="CADEIRA GAMER PRETA E AZUL PG-TAU-RED01">
                            CADEIRA GAMER PRETA E AZUL PG-TAU-RED01
                        </h5>
                        <p class="preco-Avista">à vista</p>
                        <div class="preco-oferta">R$1.249,90</div>
                        <span class="preco-Avista">no PIX com 12% desconto</span>
                        <div class="card-parcelamento pb-4">
                            <div class="preco-atual text-danger">R$&nbsp;2.272,61</div>
                            <span class="preco-parcelamento">em até 12x de
                                <span class="preco-atual text-danger">R$118,36</span>
                            </span>
                            <div class="parcela-cartao">sem juros no cartão</div>
                        </div>
                        <a href="#" class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="card-container px-2  mb-5 col-12 col-sm-6 col-md-3">
                <div class="card mb-3 card-box pt-3">
                    <img src="assets/imagens/foneRosa.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-vendas p-3  text-center">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="HEADSET GAMER REDRAGON, RGB, DRIVERS 50MM,ROSA.">
                            HEADSET GAMER REDRAGON, RGB, DRIVERS 50MM,ROSA.
                        </h5>
                        <p class="preco-Avista">à vista</p>
                        <div class="preco-oferta">R$849,90</div>
                        <span class="preco-Avista">no PIX com 12% desconto</span>
                        <div class="card-parcelamento pb-4">
                            <div class="preco-atual text-danger">R$&nbsp;965,80</div>
                            <span class="preco-parcelamento">em até 12x de
                                <span class="preco-atual text-danger">R$80,48</span>
                            </span>
                            <div class="parcela-cartao">sem juros no cartão</div>
                        </div>
                        <a href="#" class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="card-container px-2 mb-5 col-12 col-sm-6 col-md-3">
                <div class="card mb-3 card-box pt-3">
                    <img src="assets/imagens/tvPequena.jpg" class="card-img-top" alt="TV">
                    <div class="card-body card-vendas p-3  text-center">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="MONITOR TGT MG24, 24 POL. LED FHD, 3MS,60HZ, HDMI/VGA.">
                            MONITOR TGT MG24, 24 POL.LED FHD, 3MS,60HZ, HDMI/VGA.
                        </h5>
                        <p class="preco-Avista">à vista</p>
                        <div class="preco-oferta">R$849,90</div>
                        <span class="preco-Avista">no PIX com 12% desconto</span>
                        <div class="card-parcelamento pb-4">
                            <div class="preco-atual text-danger">R$&nbsp;965,80</div>
                            <span class="preco-parcelamento">em até 12x de
                                <span class="preco-atual text-danger">R$80,48</span>
                            </span>
                            <div class="parcela-cartao">sem juros no cartão</div>
                        </div>
                        <a href="#" class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>