<div class="content-login" id="login">
    <div class="box-geral tab-group" role="document">
        <div class="box-content">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link cor-entra-tab active" id="entra-tab" data-bs-toggle="tab"
                            data-bs-target="#entra-tab-pane" type="button" role="tab" aria-controls="entra-tab-pane"
                            aria-selected="true">
                            Entra
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link cor-cadastra-tab" id="cadastra-tab" data-bs-toggle="tab"
                            data-bs-target="#cadastra-tab-pane" type="button" role="tab"
                            aria-controls="cadastra-tab-pane" aria-selected="false">Cadastra</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="entra-tab-pane" role="tabpanel"
                        aria-labelledby="entra-tab" tabindex="0">
                        <form id="form" action="/index.html" onsubmit="return false;" (ngSubmit)="submit()"
                            [formGroup]="logimComponent" #formDir="ngForm">
                            <div class="whapper">
                                <label class="form-label" for="description">Email</label>
                                <input class="form-control" id="email" type="text" formControlName="email" required>
                            </div>
                            <div *ngIf="email.invalid && formDir.submitted">
                                <p *ngIf="email.errors?.['required']" class="errors">O endereço de e-mail não pode estar
                                    vazio
                                </p>
                            </div>
                            <div class="whapper">
                                <div class="conteudo-senha">
                                    <label class="form-label" for="description">Senha</label>
                                    <a class="form-text" href="#">Esqueceu a senha?</a>
                                </div>
                                <input class="form-control" name="loginSenha" id="Senha" placeholder="Senha"
                                    type="password" formControlName="senha" required>
                                <div *ngIf="senha.invalid && formDir.submitted" class="errors">
                                    <p *ngIf="senha.errors?.['required']">
                                        Preencha este campo corretamente.
                                    </p>
                                </div>
                            </div>
                            <div class="whapper">
                                <div class="form-check">
                                    <input class="form-check-input" id="login-lembre" type="checkbox" required>
                                    <label class="form-check-label" for="login-lembre">
                                        <span class="text-sm">Lembre-ne</span>
                                    </label>
                                </div>
                            </div>
                            <div class="d-grid whapper">
                                <button id="buttonEnviarmsgError" class="btn" type="submit">
                                    <i class="bi bi-box-arrow-in-left icon-color-red"></i>
                                    Entrar
                                </button>
                            </div>
                        </form>
                        <hr class="linha">
                        <div class="text-center conecte-se">
                            <button class="btn btn-rede" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                title="Conecte-se com o facebook">
                                <i class="bi bi-facebook icon-facebook "></i>
                            </button>
                            <button type="button" class="btn btn-rede2" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Conecte-se com o Google">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M21.35,11.1H12.18V13.83H18.69C18.36,17.64 15.19,19.27 12.19,19.27C8.36,19.27 5,16.25 5,12C5,7.9 8.2,4.73 12.2,4.73C15.29,4.73 17.1,6.7 17.1,6.7L19,4.72C19,4.72 16.56,2 12.1,2C6.42,2 2.03,6.8 2.03,12C2.03,17.05 6.16,22 12.25,22C17.6,22 21.5,18.33 21.5,12.91C21.5,11.76 21.35,11.1 21.35,11.1V11.1Z" />
                                </svg>
                            </button>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="cadastra-tab-pane" role="tabpanel" aria-labelledby="cadastra-tab"
                        tabindex="0">
                        <form id="form" action="/index.html " onsubmit="return false;" (ngSubmit)="submitCadastro()"
                            [formGroup]="logimComponent" #formDir="ngForm">

                            <div class="whapper">
                                <label class="form-label" for="registerName">Nome</label>
                                <input class="form-control" id="registerName" type="text" formControlName="nome"
                                    required>
                            </div>
                            <div *ngIf="nome.invalid && formDir.submitted">
                                <p *ngIf="nome.errors?.['required']" class="errors">
                                    Campo obrigatório
                                </p>
                            </div>

                            <div class="whapper">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" id="email" type="text" formControlName="email" required>
                            </div>
                            <div *ngIf="email.invalid && formDir.submitted">
                                <p *ngIf="email.errors?.['required']" class="errors">O endereço de e-mail não pode estar
                                    vazio
                                </p>
                            </div>

                            <div class="whapper">
                                <label class="form-label" for="registerPassword">Senha</label>
                                <input class="form-control" id="registerPassword" type="password"
                                    formControlName="senha">
                                <div *ngIf="email.invalid && formDir.submitted">
                                    <p *ngIf="senha.errors?.['required']" class="errors">
                                        Preencha este campo corretamente.
                                    </p>
                                </div>
                            </div>
                            <div class="d-grid mb-3 text-center">
                                <button id="buttonEnviarmsgErrorCadastro" class="btn" type="submit">
                                    <i class="bi bi-person icon-color-red"></i>
                                    CADASTRO
                                </button>
                            </div>
                        </form>
                        <hr class="linha">
                        <p class="mensagem"></p>
                        <div class="text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>