.content-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--cor-azul-escuro);
    padding: 3rem;
    cursor: pointer;
}

.tab-group {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
    width: 90%;
    pointer-events: auto;
    background-color: var(--cor-branco);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    outline: 0;
    border-radius: 20px;
}

.nav-tabs {
    padding-top: 2rem;
}

.cor-cadastra-tab {
    color: var(--cor-vermelho-claro);
    font-size: 1.1rem;
    text-transform: uppercase;
}

.cor-entra-tab.active,
.nav-tab {
    color: var(--cor-verde-limao);
    font-size: 1.1rem;
    text-transform: uppercase;
}


.linha {
    margin: 2rem auto;
    height: 1px;
    width: 90%;
    background-color: var(--cor-border);
    opacity: .25;
}




.btn {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--cor-cinzento-title);
    border-color: var(--cor-cinza);
    padding: 0.525rem 0.75rem;
    font-size: .8rem;
    border-radius: 0;
    transition: color 0.15s ease-in-out;
    letter-spacing: .3em;
    text-transform: uppercase;

}

.whapper {
    margin-bottom: 1rem;
}

.form-label {
    color: var(--cor-cinzento-title);
    font-weight: bold;
    font-size: 1.2rem;
}

.btn:hover {
    background: var(--cor-vermelho-claro);
    color: var(--cor-branco);
}

.btn-rede {
    border: 1px solid var(--cor-azul);
    border-radius: 5px;
    width: 15%;
}

.btn-rede2 {
    border: 1px solid var(--cor-border);
    border-radius: 5px;
    width: 15%;

}

.form-check {
    display: block;
    min-height: 1.6rem;
    margin-bottom: 0.125rem;
}

.form-check-label {
    padding-left: .8rem;
}

.conecte-se {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .9rem;
    padding-bottom: 1rem;
}

.icon-red {
    color: var(--cor-vermelho-claro);
    padding-top: .2rem;
}


.icon-facebook {
    color: var(--cor-azul);
}

.icon-facebook:hover {
    color: var(--cor-branco);
}


.errors,
.mensagem {
    border-left: 3px solid var(--cor-vermelho-claro);
    padding-left: .2em;
    color: var(--cor-vermelho-claro);
}

.conteudo-senha {
    display: flex;
    justify-content: space-between;
}