 a {
    list-style: none;
    text-decoration: none;
}

.card {
    background: var(--cor-card);
    border: 1px solid var(--cor-azul-acinzentado-claro);

}
.title-queridinhos {
    color: var(--cor-cinzento-title);
    font-weight: 600;
    opacity: 0.9;
    padding: 1rem;
    font-size: calc(1.2rem + .9vw);
    cursor: pointer;
}

.title-vejamais {
    font-size: 1rem;
    color: var(--cor-vermelho-claro);
}

.whapper__container {
    background-color: var(--cor-azul-acinzentado-claro); 
       margin: 0 4rem;
       padding: 4rem 2rem ;
}




@media only screen and (max-width: 600px) {
    .container-produtos {
        margin: 0;
        padding: 1rem;

    }

    .aplicativo-list {
        text-align: center;
    }
    .whapper__container {
           margin: 0 ;
           padding: 4rem 1rem;
    }
    .title-queridinhos, .title-vejamais{
        font-size: .9rem;
        margin: 0px;
    }

}