
*{
    cursor: pointer;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}


.mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-title {
    color: var(--cor-cinzento-title);
    font-size: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    height: 30px;

}

.mat-card-item-precoAtual {
    color: var(--cor-vermelho-claro);
    font-size: 1rem;
}
.cor-red{
    color: var(--cor-vermelho-claro);
}
.cor-green{
color: var(--cor-verde-limao);
}

.mat-card-item-precoDesconto {
    color: var(--cor-verde-limao);
    font-size: 1rem;
}

.mat-card-actions {
    text-align: center;
}

.btn-comprar {
    background: var(--cor-vermelho-claro);
    width: 90%;
    margin: auto;
    text-align: center;
    color: var(--cor-branco);
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-comprar:hover {
    background: var(--cor-branco);
    color: var(--cor-azul-escuro);
    border: 1px solid var(--cor-azul-escuro);
}

.mat-card-image {
    width: 50%;
    align-self: center;
}

.card {
    margin-bottom: 1rem;
    background: var(--cor-card);
    border: 1px solid var(--cor-azul-acinzentado-claro);
}

.card:hover {
    box-shadow: 0px 5px 10px 10px rgba(191, 187, 187, 0.2);
}
.desconto {
    width: 3rem;
    color: var(--cor-branco);
    line-height: 1.5rem;
    background: var(--cor-vermelho-claro);
    border-radius: 0.2rem;
    margin: 0.9rem;
    text-align: center;
}
.mat-card>.mat-card-actions:last-child {
    padding-bottom: 10px;
}


.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 25px;
    width: 100%;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
