<section class="section-promocao">
    <div class="row">
        <div class="col-12 d-flex justify-content-around align-items-center">
            <h2 class="title-oportunidade text-produtos py-4 fs-base">OPORTUNIDADES DA SEMANA</h2>
            <a class="text-danger link-vejamais">veja mais
                <i class="bi bi-chevron-compact-right"></i>
            </a>
        </div>
    </div>
    <div class="container conteudo-vendas">
        <div class="d-flex flex-wrap m-auto">
            <div class="card-container px-2 col-12 col-sm-6 col-md-3 mb-2">
                <div class="card card-box produto">
                    <div class="desconto">-10%</div>
                    <img src="assets/imagens/maquinafotografica.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-vendas p-3">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="CÂMERA CANON EOS REBEL T100 COM LENTE">
                            CÂMERA CANON EOS REBEL T100 COM LENTE
                        </h5>
                        <p class="card-text m-0 preco-atual-em-estoque">De&nbsp;R$4.100,00 por:</p>
                        <p class="card-text mb-1 preco-oferta">R$3.199,00</p>
                        <p class="preco-Avista">à vista</p>
                        <a class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="card-container px-2 col-12 col-sm-6 col-md-3 mb-2">
                <div class="card card-box produto">
                    <div class="desconto">-20%</div>
                    <img src="assets/imagens/foneRosa.jpg" class="card-img-top" alt="Product">
                    <div class="card-body card-vendas p-3">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="HEADSET GAMER REDRAGON, RGB, DRIVERS 50MM,ROSA">
                            HEADSET GAMER REDRAGON, RGB, DRIVERS 50MM,ROSA
                        </h5>

                        <p class="card-text m-0 preco-atual-em-estoque">De R$488 por:</p>
                        <p class="card-text mb-1 preco-oferta">R$139,90</p>
                        <p class="preco-Avista">à vista</p>
                        <a class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="card-container px-2 col-12 col-sm-6 col-md-3 mb-2">
                <div class="card card-box produto">
                    <div class="desconto">-22%</div>
                    <img src="assets/imagens/cadeira-gamer.jpg" class="card-img-top" alt="Product">
                    <div class="card-body card-vendas p-3">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="CADEIRA GAMER ,PRETA E AZUL PG-TAU-RED01">
                            CADEIRA GAMER ,PRETA E AZUL PG-TAU-RED01
                        </h5>
                        <p class="card-text m-0 preco-atual-em-estoque">De R$2.272,61 por:</p>
                        <p class="card-text mb-1 preco-oferta">R$1.249,90</p>
                        <p class="preco-Avista">à vista</p>
                        <a class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="card-container px-2 col-12 col-sm-6 col-md-3 mb-2">
                <div class="card card-box produto">
                    <div class="desconto">-10%</div>
                    <img src="assets/imagens/code.jpg" class="card-img-top" alt="Product">
                    <div class="card-body card-vendas p-3">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title=" PROCESSADOR INTEL CORE I9-12900, 16-CORE,24-THREADS">
                            PROCESSADOR INTEL CORE I9-12900, 16-CORE,24-THREADS
                        </h5>
                        <p class="card-text m-0 preco-atual-em-estoque">De 4.886,25 por:</p>
                        <p class="card-text mb-1 preco-oferta">R$3.599,90</p>
                        <p class="preco-Avista">à vista</p>
                        <a class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="card-container px-2 col-12 col-sm-6 col-md-3 mb-2">
                <div class="card card-box produto">
                    <div class="desconto">-10%</div>
                    <img src="assets/imagens/maquinafotografica.jpg" class="card-img-top" alt="Product">
                    <div class="card-body card-vendas p-3">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="CÂMERA CANON EOS REBEL T100 COM LENTE 18-55MM">
                            CÂMERA CANON EOS REBEL T100 COM LENTE 18-55MM
                        </h5>
                        <p class="card-text m-0 preco-atual-em-estoque">De R$4.100,00 por:</p>
                        <p class="card-text mb-1 preco-oferta preco-oferta">R$3.199,00</p>
                        <p class="preco-Avista">à vista</p>
                        <a class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="card-container px-2 col-12 col-sm-6 col-md-3 mb-2">
                <div class="card card-box produto">
                    <div class="desconto">-20%</div>
                    <img src="assets/imagens/foneRosa.jpg" class="card-img-top" alt="Product">
                    <div class="card-body card-vendas p-3">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="HEADSET GAMER REDRAGON, RGB,DRIVERS 50MM,ROSA">
                            HEADSET GAMER REDRAGON, RGB,DRIVERS 50MM,ROSA
                        </h5>
                        <p class="card-text m-0 preco-atual-em-estoque">De R$488 por:</p>
                        <p class="card-text mb-1 preco-oferta">R$139,90</p>
                        <p class="preco-Avista">à vista</p>
                        <a class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="card-container px-2 col-12 col-sm-6 col-md-3 mb-2">
                <div class="card card-box produto">
                    <div class="desconto">-22%</div>
                    <img src="assets/imagens/cadeira-gamer.jpg" class="card-img-top" alt="Product">
                    <div class="card-body card-vendas p-3">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="CADEIRA GAMER ,PRETA E AZUL PG-TAU-RED01">
                            CADEIRA GAMER ,PRETA E AZUL PG-TAU-RED01
                        </h5>
                        <p class="card-text m-0 preco-atual-em-estoque">De R$2.272,61 por:</p>
                        <p class="card-text mb-1 preco-oferta">R$1.249,90</p>
                        <p class="preco-Avista">à vista</p>
                        <a class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>
            <div class="card-container px-2 col-12 col-sm-6 col-md-3 mb-2">
                <div class="card card-box produto">
                    <div class="desconto">-10%</div>
                    <img src="assets/imagens/code.jpg" class="card-img-top" alt="Product">
                    <div class="card-body card-vendas p-3">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="top"
                            title="PROCESSADOR INTEL CORE I9-12900, 16-CORE,24-THREADS">
                            PROCESSADOR INTEL CORE I9-12900, 16-CORE,24-THREADS
                        </h5>
                        <p class="card-text m-0 preco-atual-em-estoque">De 4.886,25 por:</p>
                        <p class="card-text mb-1 preco-oferta">R$3.599,90</p>
                        <p class="preco-Avista">à vista</p>
                        <a class="btn btn-compra btn-sm w-100">COMPRAR</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>