.header {
    background: var(--cor-azul-acinzentado-claro);

}

.nav-link {
    display: block;
    color: var(--cor-cinzento-title);
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.departamento {
    color: var(--cor-active-color);
}
#contadorProduto {
    height: 1rem;
    background: var(--cor-vermelho-claro);
}
.menu-bars{
    border: none;
}
.navbar-toggler:focus {
    
     box-shadow: none;
}

.text-icon {
    color: var(--cor-vermelho-claro);
}
.nav-item a{
    text-decoration: none;

}
@media only screen and (max-width: 991px){
    .card-icons-header{
        gap: 2rem;
        padding-top: 1rem;
    }
    .input-group {
        padding-top: 1rem;
    }
}

