
a{
    text-decoration: none;
}
.widget-product-title a {
    color: var(--cor-cinzento-title);
    text-decoration: none;
    font-size: .9rem;
}
.link-imagens img{
    padding-right: 1rem;
}
.mat-icon{
    color: var(--cor-vermelho-claro);
}
.text-accent {
    color: var(--cor-verde-limao);
}
.link-vejamais{
    color: var(--cor-vermelho-claro);
    display: flex;
}
.ps-2{
    border-bottom: 1px solid var(--cor-border);
}
