@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Open+Sans:wght@500;700&family=PT+Serif:wght@700&family=Roboto:wght@400;700&display=swap');
@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.css');
body {
    font-family: "Roboto";
    cursor: pointer;
}

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor-azul: #0d6efd;
    --cor-azul-suave: hsl(231, 69%, 60%);
    --cor-azul-claro: rgba(105, 179, 254, .09);
    --cor-escuro: rgba(0, 0, 0, 0.9);
    --cor-azul-footer: #2b3445;
    --cor-azul-acinzentado-claro: hsl(220, 16%, 96%);
    --cor-branco: hsl(0, 0%, 100%);
    --cor-border: hsl(219deg 20% 90%);
    --cor-cinza: #4b566b;
    --cor-ciano-brilhante: hsl(192, 70%, 51%);
    --cor-cinzento-title: #373f50;
    --cor-card: #f8f9fa;
    --cor-cinzento: #dae1e7;
    --cor-cinza-muito-claro: hsl(0, 0%, 98%);
    --cor-cinza-box-: hsl(220deg 43% 99%);
    --cor-verde-limao: hsl(136, 65%, 51%);
    --cor-vermelho-claro: hsl(0, 94%, 66%);
}
.icon-color-red {
    color: var(--cor-vermelho-claro);
    font-size: 1.3rem;
}