<div class="conteudo-titulo p-4 fs-base">
    <h2 class="title-lancamento">LANÇAMENTOS</h2>
</div>
<div class="lancamento">   
    <div *ngIf="images && images.length > 0" class="carousel-container">

        <div *ngFor="let image of images; let i=index" class="carousel-control-images">
            <img [src]="image.imageSrc" [alt]="image.imageAlt" [ngClass]="{'image-active': selectedIndex === i}"
                >

            <p class="text-carousel-control" [ngClass]="{'active': selectedIndex === i}" mat-raised>
                <strong> {{image.description}} </strong>
            </p>

            <a routerLink="" class="text-carousel-detalhe" [ngClass]="{'active': selectedIndex === i}" mat-raised>
                {{image.linklancamento}}!!
            </a>
        </div>
 

    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i=index" class="dot" [ngClass]="{'active': selectedIndex === i}"
            (click)="selectImage(i)">
        </span>
    </div>

    <button *ngIf="controls" class="btn-carousel btn-prev" (click)="onPrevClick()">
        <mat-icon class="icon-carousel icon-prev">chevron_left</mat-icon>
    </button>
    <button *ngIf="controls" class="btn-carousel btn-next" (click)="onPrevClick()">
        <mat-icon class="icon-carousel icon-next">chevron_right</mat-icon>
    </button>
</div>
</div>