<div class="section-marcas">
            <div class="row">
                <div class="whapper-marcas">
                    <h2 class="title-marcas">PROCURE POR MARCAS...</h2>
                </div>
            </div>
            <div class="slider-marcas">
                <div class="slide-track">
                    <div class="slide">
                        <img src="assets/imagens/marcaamazon.png" alt="MARCAS">
                    </div>
                    <div class="slide">
                        <img src="assets/imagens/marcacalmon.png" alt="MARCAS">
                    </div>
                    <div class="slide">
                        <img src="assets/imagens/marcacji.png" alt="MARCAS">
                    </div>
                    <div class="slide">
                        <img src="assets/imagens/marcamicrofo.png" alt="MARCAS">
                    </div>
                    <div class="slide">
                        <img src="assets/imagens/marcasansung.png" alt="MARCAS">
                    </div>
                    <div class="slide">
                        <img src="assets/imagens/marcaamazon.png" alt="MARCAS">
                    </div>
                    <div class="slide">
                        <img src="assets/imagens/marcacalmon.png" alt="MARCAS">
                    </div>
                    <div class="slide">
                        <img src="assets/imagens/marcacji.png" alt="MARCAS">
                    </div>
                    <div class="slide">
                        <img src="assets/imagens/marcamicrofo.png" alt="MARCAS">
                    </div>
                    <div class="slide">
                        <img src="assets/imagens/marcasansung.png" alt="MARCAS">
                    </div>
                </div>
            </div>

        </div>